h1{
   color: red;
   font-size: 100px;
}
/*img{
  background-color: red;
}
*/
.first{
  background-color: red;
}
.second{
  background-color: blue';
}
img:hover{
  background-color: red';
}
